@import presets/normalize.scss
@import presets/reset.scss

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')


*
    box-sizing: border-box

body
    font-family: 'Calibri', 'Source Sans Pro', 'Roboto', sans-serif
    font-weight: 400

h1, h3
    font-weight: bold

a
    text-decoration: none
    color: black

.button
    position: relative
    border: none
    padding: 0
    display: flex
    justify-content: center
    align-items: center
    box-shadow: 6px 6px 8px 2px rgba(0,0,0,.3)
    border-radius: 25px
    &:active
        box-shadow: none
        &::before
            content: ''
            display: block
            position: absolute
            top: 0px
            left: 0px
            border: 5px solid rgba(0,0,0,.3)
            border-radius: 25px
            width: 100%
            height: 100%
            filter: blur(4px)

.container
    display: flex
    max-width: 1140px
    margin: 0 auto
    padding: 0 1em    

.header
    &__container
        flex-direction: row
        justify-content: space-between
        align-items: center
        height: 124px
        padding-left: 50px
    &__hamburger
        display: none
    &__checkbox
        display: none
    &__logo
        display: flex
        img
            width: 54px
            margin-right: 8px
        &-title
            line-height: 20px
            font-size: 18px
    
.nav-menu
    &__list
        display: flex
        flex-direction: row
        &-item
            margin-right: 64px
            font-size: 22px
            &:last-child
                 margin-right: 35px
            a:hover
                color: #e20909

.background-section
    background: url('../img/25101.jpg') #ccc
    background-position: right bottom

.first-section
    &__container
        min-height: 484px
        display: flex
        justify-content: space-between
        align-items: center
    &__content
        h1
            font-size: 43px
            line-height: 52px
            margin-bottom: 12px
        p
            font-size: 30px
            font-weight: 300
            margin-bottom: 68px
    &__button
        font-size: 43px
        //line-height: 72px
        font-weight: bold
        height: 75px
        //width: 636px  

.offer
    &__button
        font-weight: bold
        background-color: rgb(243, 191, 0)
        &:hover
            background-color: rgb(253, 207, 0)
        &:active
            box-shadow: none
            background-color: rgba(253, 207, 0, 0)
            border: solid 3px rgb(253, 207, 0)
    

.slides-wrapper
    width: 340px
    height: 160px
    position: relative
    overflow: hidden

.slides
    width: 1020px
    height: 160px
    display: flex
    animation: round 16s infinite
    @keyframes round
        26%
            transform: translateX(0)
        32%
            transform: translateX(-340px)
        59%
            transform: translateX(-340px)
        64%
            transform: translateX(-680px)
        91%
            transform: translateX(-680px)
        96%
            transform: translateX(0)

.slide
    width: 340px
    height: 160px
    display: flex
    justify-content: center
    align-items: center
    font-size: 24px
    line-height: 35px
    font-weight: bold 
    img
        height: 100%
        margin-right: 10px


.second-section
    background: url('../img/DS7A4318.jpg') no-repeat fixed #ccc
    background-size: cover
    position: relative
    &__bg-overlay
        position: absolute
        top: 0
        left: 0
        background-color: #fff
        opacity: 0.7
        height: 100%
        width: 100%
    // &__container
    //     position: relative
    //     padding-top: 1em
    //     padding-bottom: 1em
    //     display: grid
    //     grid-template-columns: 1fr 1fr 1fr
    //     gap: 2em

.cards-container
    position: relative
    padding-top: 1em
    padding-bottom: 1em
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, .5fr))
    gap: 2em

.card
    display: flex
    align-items: center
    flex-direction: column
    justify-content: stretch
    text-align: center
    background-color: rgba(255,255,255,0.75)
    padding: 20px
    box-shadow: 2px 2px 10px 4px rgb(0 0 0 / 15%)
    &__icon
        width: 50px
        height: 50px
        margin-bottom: 20px
        //fill: $card-color
        fill: var(--card-color)
    h2
        font-size: 30px
        color: var(--card-color)
    hr
        margin: 20px 0
        padding: 0
        height: 0
        width: 100%
        border-top: 1px solid var(--card-color)
    &__content
        text-align: left
        flex-grow: 1
        h3
            font-size: 18px
            margin-bottom: 20px
        ul
            list-style: disc
            padding-left: 25px
            margin-bottom: 25px
            li
                font-size: 16px
                margin-bottom: 10px
    .button
        font-size: 13px
        font-weight: bold
        color: white
        width: 138px
        height: 32px
        background-color: var(--card-color)
        &:active
            box-shadow: none
            color: var(--card-color)
            background-color: rgba(0, 0, 0, 0)
            border: solid 3px var(--card-color)

footer
    color: white
    background-color: #878787
    font-size: 22px
    line-height: 28px
    h2
        font-size: 30px
        font-weight: bold
        margin-bottom: 20px

.footer
    &__container
        padding: 50px
        justify-content: space-around
    &__left
        margin-right: 1em
    &__contacts
        margin-bottom: 50px
    &__messengers
        margin-bottom: 50px
        &__icons
            width: 320px
            text-align: center
            margin-bottom: 20px
            img
                height: 60px
                margin-right: 25px
                &:last-child
                    margin-right: 0
    &__button
        font-size: 36px
        font-weight: bold
        height: 60px
        width: 320px
        border-radius: 17px
    &__requisits
        font-size: 18px
    &__products
        margin-bottom: 60px
    &__partner
        font-size: 18px
        img
            height: 90px
            margin-bottom: 20px

.section-pruducts
    padding: 40px 0

.product-card
    border: solid 6px rgb(243, 191, 0)
    border-radius: 20px
    padding: 40px
    display: flex
    flex-direction: column
    justify-content: stretch
    &__content
        margin-bottom: 40px
        flex-grow: 1
    h3
        font-size: 30px
        line-height: 60px
    p
        font-size: 22px
        line-height: 25px
    .button
        font-size: 32px
        font-weight: bold
        height: 54px
        width: 250px

.section-its
    position: relative
    padding-top: 30px
    img
        position: absolute
        left: -64px
    &__container
        min-height: 1042px
        justify-content: flex-end
        //padding: 132px 0 0 25%
    &__content
        position: absolute
        left: 580px
        padding-top: 132px
        display: flex
        flex-direction: column
        h3
            font-size: 42px
            line-height: 50px
            margin-bottom: 20px
        p
            font-size: 26px
            line-height: 30px
        &__price
            padding: 68px 0
            font-size: 56px
            line-height: 64px
            font-weight: bold
        .button
            font-size: 36px
            height: 58px
            width: 440px
            margin-bottom: 50px   



@media (max-width: 1155px)
    .section-its
        img
            opacity: .4
        &__content
            position: sticky
        


@media (max-width: 991px)
    .container
        padding-left: 1em
        padding-right: 1em
        margin: 0
    header
        padding-left: 0
    .header__logo-title
        display: none
    .nav-menu__list-item:last-child
        margin-right: 15px
    .slides-wrapper
        display: none

    .cards-container
        grid-template-columns: 1fr 1fr




@media (max-width: 767px)

    .header__container
        height: 94px
    
    .main-section
        min-height: 450px

    .offer
        h1
            font-size: 36px
            line-height: 46px
        &__button
            font-size: 26px
            width: 100%

    .header__logo-title
        display: block
    .nav-menu
        display: block
        position: fixed
        top: 0
        right: 0
        width: 70%
        height: 100vh
        background: white
        z-index: 10
        transform: translate(100%)
        transition: transform 0.5s ease-in-out
        &__list
            display: flex
            flex-direction: column
            height: 50%
            text-align: center
            justify-content: space-evenly
            &-item
                margin-right: 0
    
    .checkbox    
        position: fixed
        display: block
        height: 32px
        width: 32px
        top: 20px
        right: 20px
        z-index: 20
        opacity: 0
        cursor: pointer
        

    .hamburger-lines
        display: block
        height: 26px
        width: 32px
        position: fixed
        top: 18px
        right: 20px
        z-index: 15
        display: flex
        flex-direction: column
        justify-content: space-between
    
    .hamburger-lines .line
        display: block
        height: 4px
        width: 100%
        border-radius: 10px
        background: #0e2431

    .hamburger-lines .line1
        transform-origin: 0% 0%
        transition: transform 0.4s ease-in-out

    .hamburger-lines .line2
        transition: transform 0.2s ease-in-out

    .hamburger-lines .line3
        transform-origin: 0% 100%
        transition: transform 0.4s ease-in-out

    .checkbox:checked ~ .header__nav //.header__container .nav-menu
        transform: translateX(0)

    .checkbox:checked ~ .hamburger-lines .line1
        transform: rotate(45deg)

    .checkbox:checked ~ .hamburger-lines .line2
        transform: scaleY(0)

    .checkbox:checked ~ .hamburger-lines .line3
        transform: rotate(-45deg)

    .checkbox:checked ~ .header__logo
        display: none

    .cards-container
        grid-template-columns: 1fr

    .footer
        &__messengers
            &__icons
                width: 100%


    .section-its
        img
            display: none